<div class="home__container">
<app-card
  gameDesc="The Witcher 3: Wild Hunt"
  gameCover="assets/witcher.png"
  gameLabel="BEST OF YEAR"
  gameType="DISC | PS5 | SPECIAL EDITION "
  gamePrice="R$ 164,90"
>
</app-card>
<app-card
  gameDesc="Elden Ring"
  gameCover="assets/elder.png"
  gameLabel="EXCLUSIVE"
  gameType="DISC | PS4 | PS5"
  gamePrice="R$ 269,99"
>
</app-card>
<app-card
  gameDesc="Hogwarts Legacy"
  gameCover="assets/hog.png"
  gameLabel="NEW"
  gameType="DIGITAL | PS4 | PS5"
  gamePrice="R$ 299,90"
>
</app-card>
<app-card
  gameDesc="Grand Theft Auto V"
  gameCover="assets/gta.png"
  gameLabel="NEW"
  gameType=" PREMIUM EDITION | DISC | PS4  "
  gamePrice="R$ 159,90"
>
</app-card>
<app-card
  gameDesc="TEKKEN 8"
  gameCover="assets/tekken.png"
  gameLabel="NEW"
  gameType=" DIGITAL | PS5"
  gamePrice="R$ 349,90"
>
</app-card>

<app-card
  gameDesc="Resident Evil 4"
  gameCover="assets/evil.png"
  gameLabel="NEW"
  gameType="DELUXE EDITION | PS4 | PS5"
  gamePrice="R$ 369,99"
	>
</app-card>

<app-card
  gameDesc="Assassin's Creed® Rogue"
  gameCover="assets/cred.png"
  gameLabel="REMASTERED"
  gameType=" DIGITAL | PS3 | PS4 | PS5"
  gamePrice="R$ 159,90"
>
</app-card>
<app-card
  gameDesc="EA SPORTS FC™ 24 Ultimate Edition"
  gameCover="assets/fifa.png"
  gameLabel="PRE ORDER"
  gameType=" DIGITAL | PS5"
  gamePrice="R$ 299,90"
>
</app-card>
<app-card
  gameDesc="Battlefield™ 2042"
  gameCover="assets/bt-4.png"
  gameLabel="PRE ORDER"
  gameType="DIGITAL | PS4 | PS5"
  gamePrice="R$ 299,90"
>
</app-card>
</div>
